// Common styles of the project

*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

@keyframes forestFadeUp {
    from {
        opacity: 0;
    }

    to {
        transform: translateY(-50px);
        opacity: 1;
    }
}

@keyframes smallCircle {
    from {
        width: rem(280);
        height: rem(280);
    }

    to {
        width: rem(450);
        height: rem(450);
    }
}

@keyframes bigCircle {
    from {
        width: rem(950);
        height: rem(950);
        box-shadow: 0px 0px 0px 50px rgba(255, 138, 0, 0.35);
    }

    to {
        width: rem(1000);
        height: rem(1000);
        box-shadow: 0px 0px 0px 250px rgba(255, 138, 0, 0.35);
    }
}

@keyframes phoneSlideUp {
    from {
        top: 100%;
    }

    to {
        top: 50%;
        transform: translateY(-40%);
    }
}

@keyframes titleFadeLeft {
    from {
        opacity: 0;
        transform: translate(-2000px, 0);
    }

    90% {
        opacity: .5;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes titleFadeRight {
    from {
        opacity: 0;
        transform: translate(2000px, 0);
    }

    90% {
        opacity: .5;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translate(0, 2000px);
    }

    90% {
        opacity: .2;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
