/* Your custom fonts here */

/* Example

@include font-face('Open Sans', '../fonts/OpenSans-Italic', normal, italic, $exts: woff woff2 ttf);

// Var for using custom font
$font-1: 'Open Sans', Helvetica, Arial, sans-serif;
*/

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open_sans_light.woff') format('woff'),
         url('../fonts/open_sans_light.svg#open_sanslight') format('svg');

    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open_sans_bold.woff') format('woff'),
         url('../fonts/open_sans_bold.svg#open_sanslight') format('svg');

    font-weight: 700;
    font-style: normal;
}
