.header {
    position: relative;

    width: 100%;
    height: 100%;

    overflow: hidden;

    background: linear-gradient(128deg, rgba(247,109,81,1) 0%,rgba(255,176,51,1) 60%,rgba(255,207,132,1) 100%);

    &::before,
    &::after {
        content: "";

        position: absolute;

        top: 50%;
        left: 50%;

        border-radius: 50%;

        transform: translate(-50%, -50%);

        animation-duration: .7s;
        animation-timing-function: ease-out;
        animation-fill-mode: both;
    }

    &::before {
        background-color: rgba(255,138,0,.50);

        animation-name: smallCircle;
    }

    &::after {
        animation-name: bigCircle;
    }

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    &__forest {
        width: 80%;
        height: auto;

        animation-name: forestFadeUp;
        animation-duration: .7s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;

        @include above(1920px) {
            width: 60%;
        }
    }
}
