include ../offer/offer

mixin header(data)
    +b.HEADER.header()&attributes(attributes)
        +e.wrap
            +e.IMG.forest(src='../static/img/content/forest.png', alt='')

            +offer()
