.offer {
    position: absolute;

    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;

    &__content {
        position: relative;
        top: 50%;

        width: rem(1280);
        height: rem(600);

        margin: 0 auto;

        transform: translateY(-50%);
    }

    &__phone {
        position: absolute;

        z-index: 3;
        top: 100%;
        left: 50%;

        display: block;
        width: rem(500);
        height: auto;
        margin-left: rem(-175);

        animation-name: phoneSlideUp;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: both;
    }

    &__title {
        position: relative;

        display: inline-block;

        font-family: 'open_sanslight', sans-serif;
        font-size: rem(120);

        color: #f4f4f4;

        animation-duration: .8s;
        animation-timing-function: ease-out;
        animation-delay: .2s;
        animation-fill-mode: both;

        &_left {

            z-index: 2;
            top: rem(50);
            left: rem(110);

            animation-name: titleFadeLeft;

            &::after {
                content: "";

                position: absolute;
                top: rem(42);
                right: rem(22);

                width: 0;
                height: 0;

                border-width: 16px 12px 0 12px;

                border-style: solid;
                border-color: #00a91f transparent transparent transparent;
            }
        }

        &_right {

            z-index: 4;
            top: rem(250);
            right: rem(-150);

            animation-name: titleFadeRight;
        }
    }

    &__description {
        position: absolute;
        top: rem(350);
        left: rem(120);

        font-family: 'open_sanslight', sans-serif;
        font-size: rem(18);

        color: #0c1729;

        animation-name: fadeUp;
        animation-duration: .8s;
        animation-timing-function: ease-out;
        animation-delay: .6s;
        animation-fill-mode: both;
    }

    &__button {
        position: absolute;
        bottom: rem(80);
        left: rem(120);

        padding: rem(10) rem(25);

        font-family: 'open_sansbold', sans-serif;
        font-size: rem(22);
        color: #f4f4f4;

        text-align: center;

        border: 0 none;

        border-radius: 4px;

        background-color: #00a920;

        box-shadow: 0px 20px 30px 0px rgba(233, 150, 5, 0.5);
        outline: none;

        animation-name: fadeUp;
        animation-duration: .8s;
        animation-timing-function: ease-out;
        animation-delay: .8s;
        animation-fill-mode: both;
    }

    &__footnote {
        position: absolute;
        right: 0;
        bottom: 0;

        font-family: 'open_sanslight', sans-serif;
        font-size: rem(10);

        line-height: rem(22);

        color: #0c1729;

        animation-name: fadeIn;
        animation-duration: 1.5s;
        animation-timing-function: ease-out;
        animation-delay: 2s;
        animation-fill-mode: both;
    }
}
