mixin offer(data)
    +b.offer()&attributes(attributes)
        +e.content
            +e.IMG.phone(src='../static/img/content/phone.png', alt='')
            +e.H2.title._left Выиграи
            +e.H2.title._right iPhone 7
            +e.description
                | Cделай депозит и участвуй <br />в розыгрыше iPhone 7 <br />в октябре! *
            +e.BUTTON.button Выиграть iPhone 7
            +e.footnote
                | * Розыгрыш iPhone 7 состоится 4.10.2016 между трейдерами сделавшими депозит от 1000р/20$/20€.<br />
                | В случае, если iPhone 7 не поступит в продажу к моменту розыгрыша, то будет разыгран iPhone 6s.<br />
                | Отправка приза ведется по СНГ, возможные таможенные или налоговые сборы несет победитель.
